<!DOCTYPE html>
<html>
   <head>
      <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/materialize-fix-template.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="iconfont/material-icons.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>
   <body>
      <header>
         <ul id="slide-out" class="side-nav fixed grey darken-3">
            <li class="">
               <a href="#!" class="grey-text text-lighten-4">
               <i class="material-icons grey-text text-lighten-4">dashboard</i>Overview</a>
            </li>
            <li>
               <a href="#!" class='grey-text text-lighten-4'>
               <i class="material-icons grey-text text-lighten-4">assignment_ind</i>Candidates</a>
            </li>
            <li>
               <a href="#!" class='grey-text text-lighten-4'>
               <i class="material-icons grey-text text-lighten-4">timeline</i>Analytics</a>
            </li>
         </ul>
         <div class="navbar-fixed">
            <nav>
               <div class="nav-wrapper white">
                  <a href="#!" class="brand-logo blue-text text-darken-1" ><img style="margin-left:20px; vertical-align: middle" src="img/business-support-2-b.png" width='45' height='45'><span style='padding-left:20px; font-size: 20px'>Welcome Floyd!</span></a>
                  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons black-text">menu</i></a>
                  <ul class="right hide-on-med-and-down">
                     <li><span class='left grey-text text-lighten-1'>Dashbaord</span></li>
                     <li><i class="valign material-icons grey-text text-darken-1 right">chat_bubble</i></a></li>
                  </ul>
               </div>
            </nav>
         </div>
      </header>
      <main>
         <div class="container">
         <!-- Page Content goes here -->
         <div class="row">
            <div class="col s12 l7">
               <div class="card">
                  <div class="card-content card-title left-align">
                     <i class="material-icons grey-text text-darken-1 left">remove_red_eye</i>
                     <span class="bold">Candidate Profile: Syd Barret</span>
                     <a class="waves-effect waves-light btn-flat right"><i class="material-icons">keyboard_arrow_right</i></a>
                     <a class="waves-effect waves-light btn-flat right"><i class="material-icons">keyboard_arrow_left</i></a>
                  </div>
                  <div class="divider"></div>
                  <div class="card-content">
                     <div class="row">
                        <div class="col s7" style="border-right: 1px solid #f2f2f2">
                           <h6 class="bold blue-text text-darken-2">Experiences:</h6>
                           <br>
                           <ul>
                              <li>&bull; 2014-2016 - Senior Software Engineer, Google </li>
                              <li>&bull; 2012-2014 - Software Engineer at Microsoft </li>
                           </ul>
                           <br>
                           <i class="valign material-icons grey-text text-darken-1 left">insert_drive_file</i>
                           <span class="">SYD+BARRET_Bengaluru.docx</span>
                        </div>
                        <div class="col s5">
                           <h6 class="bold blue-text text-darken-2">Highlights:</h6>
                           <br>
                           <ul>
                              <li>&bull; Filed three patents </li>
                              <li>&bull; Published an HPCA paper on Multicore architecture</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col s12 l5">
               <div class="card">
                  <div class="card-content card-title valign-wrapper">
                     <i class="valign material-icons grey-text text-darken-1 left">hourglass_empty</i>
                     <span class="bold">Resume Processing queue</span>
                  </div>
                  <div class="divider"></div>
                  <div class="card-content">
                     <div class="section">
                        <p>DAVID+GILMOUR_Bengaluru.docx</p>
                        <div class="progress  blue lighten-4">
                           <div class=" dynamicProgress blue" style="width: 100%"></div>
                        </div>
                     </div>
                     <div class="section">
                        <p>ROGER+WATER.docx</p>
                        <div class="progress  blue lighten-4">
                           <div class=" dynamicProgress blue" style="width: 100%"></div>
                        </div>
                     </div>
                     <div class="section">
                        <p>NICK_MASON.docx</p>
                        <div class="progress  blue lighten-4">
                           <div class="determinate blue" style="width: 100%"></div>
                        </div>
                     </div>
                     <div class="section">
                        <p>RICHARD+WRIGHT.docx</p>
                        <div class="progress  blue lighten-4">
                           <div class="determinate blue" style="width: 100%"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col s12 l7">
               <div class="card">
                  <div class="card-content card-title valign-wrapper">
                     <i class="valign material-icons grey-text text-darken-1 left">error_outline</i>
                     <span class="bold">CGPA Histogram</span>
                  </div>
                  <div class="divider"></div>
                  <div class="card-content">
                     <div class="row">
                        <div class="col s12">
                           <canvas id="bar-chart"></canvas>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col s12 l5">
               <div class="card">
                  <div class="card-content card-title valign-wrapper">
                     <i class="valign material-icons grey-text text-darken-1 left">school</i>
                     <span class="bold">Top schools</span>
                  </div>
                  <div class="divider"></div>
                  <div class="card-content">
                     <div class="row">
                        <div class="col s12">
                           <table>
                              <thead>
                                 <tr class='blue-text text-darken-2'>
                                    <th>Schools</th>
                                    <th class='right'>Applicants</th>
                                 </tr>
                              </thead>
                              <tbody id="tableBody">
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.js"></script>
      <script type="text/javascript" src="js/Chart.js"></script>
      <script type="text/javascript" src="js/data.js"></script>
      <script>
         'use strict';
         $(".button-collapse").sideNav();
         $.each(top_schools_data, function (i, obj) {
                $('#tableBody')
                    .append('<tr><td>'+obj.school+'</td>' +
                        '<td class="right">'+obj.applicant+'</td>' +
                        '</tr>');
            });
         const cgpaArr = cgpa_data.map(a => a.cgpa);
         const countArr = cgpa_data.map(a => a.count);
         new Chart($("#bar-chart"), {
         type: 'bar',
         data: {
         labels: cgpaArr,
         datasets: [
         {
          label: "count",
          backgroundColor: ["#b3e5fc", "#b3e5fc","#b3e5fc","#b3e5fc","#b3e5fc","#b3e5fc","#b3e5fc","#b3e5fc","#b3e5fc","#b3e5fc"],
          data: countArr
         }
         ],
         },
         options: {
         legend: { display: false },
         title: {
         display: true,
         text: 'CGPA Data'
         },
         scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
         }
         }
         });
      </script>
   </body>
</html>